.background-1 {
    position: relative;
    height: 220px;
    background-color: rgb(102, 173, 255);
    overflow: hidden;
}

.icone {
    position: absolute;
    background-repeat: repeat-x;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/pattern.png);
}

.logo {
    background-image: url(../img/logo.svg);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    left: 0;
    width: 30%;
    height: 30%;
    background-repeat: no-repeat;
}

.h1 {
    font-size: 60px;
}

.sottotitolo-1 {
    color: rgb(169, 169, 169);
    font-size: 20px;
    margin-top: -35px;
    margin-bottom: 40px;
}

.autore {
    color: rgb(102, 204, 255);
}

.sottotitoli-immagini-1 {
    font-size: 10px;
    margin-top: -15px;
}

.sottotitoli-immagini-2 {
    font-size: 10px;
    margin-top: -15px;
}

.evidenziato {
 background-color: rgb(255, 255, 0);
}

.tabella-booleaner {
    width: 100%;
    border-collapse: collapse;
    border: none;
}

.tr {
    font-size: 14px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 162, 237);
    background-size: 14px;
}

.tr-azzurro {
    font-size: 14px;
    background-color: rgba(143, 235, 255, 0.588);

}

.tr-bianco {
    font-size: 14px;
    background-color: rgb(255, 255, 255);
}

.footer {
    margin-top: 15px;
}